{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>catering management</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{% static 'catering/css/templatemo-style.css'%}" rel="stylesheet" />
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    
    {{form}}
    <input type="submit" value="save">
    
    </form>
    
    </body>