<div style="background-color:powderblue; height:100%;">
<div class="form_wrapper" style="text-align: center; padding-top: 150px;">
    <div class="form_container">
      <div class="title_container">
        <h1>Login</h1>
      </div>
      <div class="row clearfix" >
        <div class="">
          <form>
            <div class="input_field"> <label >Email</label><span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <br>
            <div class="input_field" style="padding-right: 20px;"><label>Password</label> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Password" required />
            </div>
            <br>
            <input class="button" type="submit" value="signup" />
            <input class="button" type="submit" value="login" />
          </form>
        </div>
      </div>
    </div>
</div>